/* Hamburger Menu Styles */
.hamburger-menu {
    position: fixed;
    top: 1.6%;
    left: 3.5%;
    z-index: 9999;
    width: auto;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
}

/* Image inside the hamburger icon */
.hamburger-Icon img {
    width: 35px; /* Adjust image size */
    height: 35px; /* Adjust image size */
    color: black;
}

