/* Hamburger Button */
.hamburger {
    display: none; /* Hidden by default */
    font-size: 30px;
    color: rgb(19, 17, 17);
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1001; /* Make sure it's above other content */
    cursor: pointer;
}

/* Show hamburger only on mobile */
@media (max-width: 768px) {
    .hamburger {
        display: block; /* Show hamburger on small screens */
    }
}
