body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* styles/index.css */
@import './styles/App.css';
@import './styles/Footer.css';
@import './styles/Header.css';
@import './components/Map/Map.css';
@import './styles/LayersBtn.css';
@import './styles/LoadingScreen.css';
@import './styles/LocationBtn.css';
@import './styles/SearchBar.css';
@import './styles/Spinner.css';
