/* Ensure the map itself is correctly positioned */
#map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  margin: 0;
  padding: 0;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease-in-out;
}

/* Map container */
.map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease-in-out;
}
